<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            /* 
                默认情况下，盒子可见框大小由内容区、边框和内边距决定
                    box-sizing 用来设置盒子尺寸的计算方式（设置width和height作用）
                        content-box 默认值，宽高设置内容区的大小
                        border- 宽高是来设置整个盒子可见框大小
             */
            width: 100px;
            height: 100px;
            background-color: aqua;
            padding: 10px;
            border: 10px red solid ;
        }
    </style>
</head>
<body>
    <div class="box1"></div>
</body>
</html>